.iframe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px; /* Gap between columns (iframes) */
  }
  
  .iframe-container iframe {
    border: 1px solid #ddd; /* Remove default border */
  }