<div *ngIf="!selectedApp">
<div>
    <h1>Create Streamlit App</h1>
    <form (ngSubmit)="onSubmit()">
      <label for="appName">App Name:</label>
      <input type="text" id="appName" [(ngModel)]="appName" name="appName" required>
      
      <label for="portNumber">Port Number:</label>
      <input type="number" id="portNumber" [(ngModel)]="portNumber" name="portNumber" required>
      
      <button type="submit">Create App</button>
      

    </form>
<div><button (click)="fetchApps()">Fetch</button></div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="successTerminateMessage" class="success-terminate-message">
      {{ successTerminateMessage }}
    </div>
  </div>
  
    <h2>Created Apps</h2>
    <table>
      <thead>
        <tr>
          <th>App Name</th>
          <th>Port</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of uniqueApps">
          <td>{{ app.appName }}</td>
          <td>{{ app.portNumber }}</td>
          <td>{{ app.status }}</td>
          <td>
            <button (click)="editApp(app)">Edit</button>
            <button (click)="terminateApp(app)">Terminate</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="selectedApp">
    <app-editor-preview [selectedApp]="selectedApp"></app-editor-preview>
    <button (click)="goBack()">Back to Apps</button>
  </div>
  
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

