    
<div class="split-container">
    <!--textarea class="bordered-textarea" [(ngModel)]="code" rows="10" cols="50" placeholder="Enter Streamlit code"></textarea-->
    <ngx-monaco-editor class="bordered-textarea" style="width: 700px; height: 400px;" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

    <iframe id="streamlit-iframe1" style="width: 500px; height: 400px;"  *ngIf="safeUrl" [src]="safeUrl"></iframe>
</div>


<div class="editorButtons">
    <button (click)="updateApp()">Execute</button>
    <button (click)="clear()">Clear</button>
    <button (click)="goBack()">Back to Apps</button>
  </div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
